Connected Services/DocsVisionService/DocsVisionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departments" nillable="true" type="tns:Departments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartments" nillable="true" type="tns:ArrayOfDepartments" />
  <xs:complexType name="Departments">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDepartment" type="xs:int" />
      <xs:element minOccurs="0" name="MainDepartmentFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departments" nillable="true" type="tns:Departments" />
  <xs:complexType name="ArrayOfLetters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Letters" nillable="true" type="tns:Letters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLetters" nillable="true" type="tns:ArrayOfLetters" />
  <xs:complexType name="Letters">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDDepartmentLetter" type="xs:int" />
      <xs:element minOccurs="0" name="IDLetter" type="xs:int" />
      <xs:element minOccurs="0" name="IsLetterIncoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="LetterComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetterContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetterDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LetterFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetterRegisterDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LetterTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LetterTopic" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Letters" nillable="true" type="tns:Letters" />
  <xs:complexType name="ArrayOfTagsOfLetter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagsOfLetter" nillable="true" type="tns:TagsOfLetter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagsOfLetter" nillable="true" type="tns:ArrayOfTagsOfLetter" />
  <xs:complexType name="TagsOfLetter">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDLetterLink" type="xs:int" />
      <xs:element minOccurs="0" name="IDTagLink" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagsOfLetter" nillable="true" type="tns:TagsOfLetter" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDTag" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
</xs:schema>