Connected Services/DocsVisionService/DocsVisionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44330/DocsVisionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" />
  <xs:complexType name="TupleOfArrayOfDepartmentsintLM7PO_PPy">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDepartments" Namespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" name="m_Item1" nillable="true" type="q1:ArrayOfDepartments" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfDepartmentsintLM7PO_PPy" nillable="true" type="tns:TupleOfArrayOfDepartmentsintLM7PO_PPy" />
  <xs:complexType name="TupleOfArrayOfLettersintLM7PO_PPy">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfLetters" Namespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" name="m_Item1" nillable="true" type="q2:ArrayOfLetters" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfLettersintLM7PO_PPy" nillable="true" type="tns:TupleOfArrayOfLettersintLM7PO_PPy" />
  <xs:complexType name="TupleOfintint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintint" nillable="true" type="tns:TupleOfintint" />
  <xs:complexType name="TupleOfArrayOfTagsOfLetterintLM7PO_PPy">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTagsOfLetter" Namespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" name="m_Item1" nillable="true" type="q3:ArrayOfTagsOfLetter" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfTagsOfLetterintLM7PO_PPy" nillable="true" type="tns:TupleOfArrayOfTagsOfLetterintLM7PO_PPy" />
  <xs:complexType name="TupleOfArrayOfTagsintLM7PO_PPy">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTags" Namespace="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DocsVisionWebSide.DocsVisionClasses" name="m_Item1" nillable="true" type="q4:ArrayOfTags" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfTagsintLM7PO_PPy" nillable="true" type="tns:TupleOfArrayOfTagsintLM7PO_PPy" />
</xs:schema>